<div class="col-md-3"></div><div id="container" class="col-md-6"><h1 class="titletext"><h1 class="titletext">Benefits Of Augmented Reality</h1>
     <br>
<p class="titletext small">
Augmented Reality’s real life applications bring enormous Benefits and advantages. With the necessary equipment for  Augmented reality to work being easily or already obtain by anyone living in any modernized area. The necessary requirements being a device with a camera and a bit of processing power with a pinch of internet connections (internet not always necessary). AR allows for :
</p>
<br>
<br>
  <ul class="titletext small">
    <li>Education through fun activities</li>
    <li>Sharing of pictures with funny edits cheaply</li>
    <li>Easier integration of real and virtual </li>
  </ul>
<br>
<br>
  <p class="titletext small">
Augmented Reality And Education is explored under the Uses tab. AR allows for fun integration of technology and learning in the classroom. Allowing students to acquire experiments that would otherwise be too expensive or dangerous. Same Could be said for social media in way that having someone photoshop your images could be time consuming and or expensive, But with AR and apps like snapchat adding effects is easy fast and affordable.
</p>
<br>
<br>
<p class"titletext small">
With easier integration of real life and the virtual world Augmented Reality allows one to gain for information on products a consumer might want. AR might even in the future allow for someone to observe a product and how it look in a 3d representation that they can interact with. This Would give birth to a new generation of ad that give the consumer better information on items . ( This is further explored in the technologies tab.)
</p>
<br>
<br>
<br>
</div><div class="col-md-3"></div>
