<div class="col-md-3"></div><div id="container" class="col-md-6"><h1 class="titletext">Uses Of Augmented Reality Current And Future</h1>
<br><p class="titletext small">
  Augmented Reality is not the newest technology under the sun, and has its fair share of uses current and future.
</p>
<br>
<br>
<h1 class="titletext">Educational Uses of Augmented Reality</h1>
<br>
<p class="titletext small">
  When it comes to the educational scene, AR has a plethora of uses, many of which allow students have experiences such as, but not limited to:
</p>
<br>
<ul class="titletext small">
  <li>Touring hazardous areas</li>
  <li>Visualization of objects to scale</li>
  <li>Labs/Projects without cost or mess</li>
</ul>
<br>
<p class="titletext small">
In education visual stimulus is one of the most effective teaching methods but sometimes it is hard to demonstrate something such as the size of a building or creature like a dinosaur. AR would allow students to view those creatures/objects by putting a 3d image superimpose of their surroundings thus allowing students to observe something normally inaccessible to them.
</p>
<br>
<center>
<image width="560" height="315" src="<%= image_url('dinoAr.jpg')%>">
  <br>
  <p class="titletext small">
  AR also a student to impute instruction into a program such as hand movement or infrared tracking. These Different forms of inputting instructions allows students to recreate activities such as dissecting a frog or exotic animal with a stylus to imitate a scalpel. This virtualization allow a mess free way to dissect a animal. This can also be applied to physics. For example students draw a circuit and a app can use AR features to overlay current flow and increases/decreases  of Voltage, Amperage, and resistance.
  </p>
  <br>
  <image width="560" height="315" src="<%= image_url('arfoot.jpg')%>">
    <br>
    <h1 class="titletext">Recreational Uses of Augmented Reality</h1>
    <br>
    <br>
  <p class="titletext small">
  Everyone likes to relax or have a little fun playing a game or messing around with apps taking goofy pictures. AR allows applications to mix the real world with virtual aspects. This mixing of real and virtual gives birth to amazing apps such as pokemon Go or photo sharing  extensions like instagram filters.
  </p>
  <br>
  <br>
<p class="titletext small">
Pokemon Go allows users to not only have fun by catching pokemon, but also motivates them to go out with the concept of making it feel as though they are catching pokemon in real life. To apply this veil of suspended disbelief the pokemon go a superimposes a 3d rendering of a pokemon on the image your phone camera is recording. This allows for a fun and immersive use of AR. This shows how games that have resourceful and imaginative designer the capability to bring new amazing games to real life.
</p>
<br>
<image width="560" height="315" src="<%= image_url('pokemonAr.jpg')%>">
<br>
<p class="titletext small">
  Snapchat a well known app that is used to share and take pictures, has in the last few years introduced filters That use AR in order to give whomever is being photographed a zany or weird Face or accessories. This Feature of the app has become so popular that you can't one teenager  or young adult that hasn't taken a picture with the dog filter. AR has a huge user base although most don't know what it is.
</p>
<br>
<image width="560" height="315" src="<%= image_url('snapchatar.jpg')%>">
  <br>
</center>
<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/oH_LfXnklRw" frameborder="0" allowfullscreen></iframe>
</center>
<br>
</div><div class="col-md-3"></div>
