<div class="col-md-3"></div><div id="container" class="col-md-6"><h1 class="titletext">Aug·men·ted Re·al·i·ty</h1>
<br><p class="titletext small">
A technology that superimposes a computer-generated image on a user's view of the real world, thus providing a composite view and or allowing a user to interact with applications in such a way that allows the real world to contribute to their virtual experiences.</p>
<h1 class="titletext">Examples</h1>
<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/oH_LfXnklRw" frameborder="0" allowfullscreen></iframe>
</center>
<br>
</div><div class="col-md-3"></div>
