<div class="col-md-3"></div><div id="container" class="col-md-6"><h1 class="titletext">Uses Of Augmented Reality Current And Future</h1>
<br><p class="titletext small">
  Augmented Reality is not the newest technology under the sun, and has its fair share of uses current and future.
</p>
<h1 class="titletext">Educational Uses of Augmented Reality</h1>
<br>
<p class="titletext small">
  When it comes to the educational scene, AR has a plethora of uses, many of which allow students have experiences such as, but not limited to:
</p>
<ul class="titletext small">
  <li>Touring hazardous areas</li>
  <li>Visualization of objects to scale</li>
  <li>Labs/Projects without cost or mess</li>
</ul>
<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/oH_LfXnklRw" frameborder="0" allowfullscreen></iframe>
</center>
<br>
</div><div class="col-md-3"></div>
