<div class="col-md-3"></div><div id="container" class="col-md-6"><h1 class="titletext">Concerns centered on Augmented Reality</h1>
     <br>
<p class="titletext small">
  Some Concerns about AR are about privacy and control over user data as is the concern in many emerging fields. Although augmented reality has a propensity towards education and entertainment, it can also be used for advertising and marketing.The main areas of concern come from control over data and metadata and targeted marketing, however there is also concern for the effect that this technology may have on the people using it. As the name suggests, Augmented reality should heighten a user's experience of the real world, despite that, some may argue that it actually detaches people from the real world with distractions.
</p>
<br>
<br>
<center>
<image width="560" height="315" src="<%= image_url('SmartCrossar.jpg')%>">
</center>
<br>
<br>
  <p class="titletext small">
    For example, while AR may help someone drive by putting directions directly in front of them, it may obstruct their view and delay their reaction time. Some other concerns come from the Ar companies themselves, some believe that AR is not something that their users need or want. For example Google glass was criticized on its aesthetics, and its functionality with claims at its inconvenience and impracticality. Critics claimed that these flaws outweighed its value to the user. Although a large company like Google can withstand a negative reception to a product by users, smaller startup and other companies are worried that a bet on AR is simply not worth it in an economical sense because of the uncertainty about users' responses to new AR products.
</p>
<br>
<br>
</div><div class="col-md-3"></div>
