<div class="col-md-3"></div><div id="container" class="col-md-6"><h1 class="titletext">Benefits Of Augmented Reality</h1>
     <br>
<p class="titletext small">
  Many of the New technologies that are thought be our next step to having the virtual and real be further mixed is visual mediums that use augmented Reality. A perfect example of this is Microsoft HoloLens or Google Glass. These glasses display user interface to what you are viewing to make things such as directions, phone calls, and alarms be brought to you field of view. This in turn allows the user to have a more hands free experience when doing those actions. Currently these devices are very expensive and are not marketed to consumers very heavily, but in due time they will make it to consumer shelfs.
</p>
<br>
<br>
<center>
<image width="560" height="315" src="<%= image_url('googlear.jpg')%>">
</center>
<br>
<br>
<p class="titletext small">
  While AR glasses are expensive AR on your phone is totally free. Augmented reality on mobile phones works by using resources already there to provide a slightly watered down AR experience. This is achieved by programs using your smart phone's camera and being able to apply a image or 3D model on your current recording. This method of AR is very popular in games like ingress and pokemon. It is also popular for its use in apps such as snapchat with is filters.
</p>
<br>
<br>
<center>
<image width="560" height="315" src="<%= image_url('phone.png')%>">
</center>
<br>
<br>
  <p class="titletext small">
    AR has also pops up in other technology like in modern cars. Most cars produced nowadays have guidance systems that help with driving reverse. These cars have a camera in the back of said car which overlays the path the car is currently heading with how much you're going to turn calculated. Freeing people of accidentally making a error on how much to turn or hit something due to the lack of being able to see said object.
</p>
<br>
<br>
<center>
<image width="560" height="315" src="<%= image_url('Carar.jpg')%>">
</center>
<br>
<br>
<br>
</div><div class="col-md-3"></div>
